@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;700&display=swap');
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
}

.p0{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}



@media screen and (max-width:375px)
{
    section
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 300px;
        border-radius: 12px;
        margin: 15px;
    }
    

}




@media screen and (max-width:480px) /*mobile*/
{

.p1_mobile{
    text-transform: uppercase;
}
.p1{
    display: none;
}

.scent_img{
    display: none;
}
    
.scent_img_mobile
{
    width: 300px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
}
.text_container_mobile{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 18px;
    justify-content: space-evenly;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
    background-color: white;
}

/* .text_container{
    display: none;
} */

.price{
    display: none;
}

.desk{
    display: none;
}
.hero_text_mobile{
    color: hsl(212, 21%, 14%);
    font-size: 20px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    margin: 5px 0;
}
.hero_text{
    display: none;
}

.hero_p{
    display: none;
}
.hero_p_mobile{
    font-size: 12px;
    margin: 5px 0;
}


.price_mobile{
    display: flex;
    margin-top: 8px;
    align-items: center;
    margin-bottom: 8px;
}

.price-after_mobile{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    margin-right: 20px;
}

.price-before_mobile{
    text-decoration: line-through;

}
.btn_mobile{
    background-color: hsl(158, 36%, 37%);
    width: 230px;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px 0;
}

.btn_text_mobile{
    margin: 10px;
}

.btn_text
{
    display: none;
}
.btn_mobile:hover{
    cursor: pointer;
}

.btn_mobile:active{
    background-color: hsl(158, 36%, 17%);
}



}


@media screen and (min-width:481px){     /*desktop*/

 section
{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    border-radius: 12px;
    margin: 25px 15px ;
}
.p1{
    text-transform: uppercase;
}

 .scent_img
{
    width: 300px;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
}

    .scent_img_mobile{
        display: none;
    }

    .text_container_mobile{
        display: none;
    }

    .hero_text_mobile{
        display: none;
    }

    .text_container{
        width: 300px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 25px;
        justify-content: space-evenly;
        border-top-right-radius:12px;
        border-bottom-right-radius:12px;
        
    }

    .text_container_mobile
    {
        display: none;
    }

    .hero_text{
        color: hsl(212, 21%, 14%);
        font-size: 30px;
        font-weight: 900;
        font-family: 'Fraunces', serif;
    }


    .hero_p_mobile{
        display: none;
    }


    .price{
        display: flex;
        margin-top: 8px;
        align-items: center;
        margin-bottom: 8px;
    }
    
    .price-after{
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces', serif;
        margin-right: 20px;
    }
    
    .price-before{
        text-decoration: line-through;
    
    }

    .btn{
        background-color: hsl(158, 36%, 37%);
        width: 230px;
        height: 45px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: bold;
        border-radius: 8px;
    }
    
    .btn_text{
        margin: 10px;
    }
    
    .btn:hover{
        cursor: pointer;
    }
    
    .btn:active{
        background-color: hsl(158, 36%, 17%);
    }
    


}
















/* min-width= starting from that width --->mobile first design*/  
/* max-width= last width will be max-width */

